.slideshow {
  margin: 0 auto;
  overflow: hidden;
  opacity: 0.7;
}

.slideshowSlider {
  white-space: nowrap;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.slide img {
  width: 100%;
  height: 70ch;
  position: relative;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: orange;
}

.contaner-about {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 8%;
  margin-top: 3%;
  font-family: cursive;
}


.about {
  border: 1px solid wheat;
  height: 63vh;
  width: 40vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  border-radius: 20px;
}

.about h3, .major {
  margin-left: 1vw;
  margin-right: 2vw;
  text-align: left;
}


.emailIcon {
  font-size: 1.3em;
  margin-top: -0.3ch;
}

.about-info {
  font-size: 0.9em;
}

.btnContact {
  text-align: center;
  font-size: 1em;
  width: 15ch;
  height: 4ch;
  border: 1px solid orange;
  border-radius: 5px;
  color: #fff;
  background-color: orange;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin-top: 2ch;
}

.btnContact:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
  transition: 0.8s;
}

.about-info {
  width: 50%;
}

.divEmail {
  display: flex;
  flex-direction: row;
  gap: 0.3vw;
  margin-left: 1vw;
  width: 50%;
}

.about img {
  margin-top: 2%;
  margin-bottom: 10%;
  border-radius: 50%;
}
.about-us {
  min-height: 70vh;
}
.contact {
  margin-top: -4%;
  font-family: cursive;
}

.footer {
  width: 100%;
  background-color: orange;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  margin-top: 3ch;
  padding-bottom: 1ch;
}

.foot-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: flex-start;
  margin-left: 3ch;
}

.foot-content h4 {
  width: 80%;
  text-align: left;
}

.parOfNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0.1ch;
  right: 25%;
  bottom: 0%;
  left: -15%;
  margin-left: 13ch;
}

.nav-infoo {
  width: 100ch;
  height: 50ch;
}

.pLine1 {
  text-align: left;
  font-size: 1.8em;
}

.pLine2 {
  text-align: left;
  font-size: 1.3em;
}

.shopNow {
  text-align: center;
  font-size: 1.3em;
  width: 10ch;
  border: 1px solid orange;
  color: #fff;
  background-color: orange;
}

.jebnalakHero {
  font-size: 3em;
  font-weight: bolder;
  text-align: left;
}

.shopNow:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
  transition: 0.8s;
}

.infoo {
  display: flex;
  flex-direction: column;
  height: 55vh;
  color: black;
  font-weight: bolder;
  border-radius: 10%;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  margin-top: -3ch;
}

.jebna-hero {
  color: orange;
}

.lak-hero {
  color: #000;
}

.foot-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 2ch;
}

.hero-email {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10%;
  align-items: center;
  width: 30%;
}

.hero-send {
  color: #fff;
  font-weight: bolder;
  background-color: orange;
  font-size: 25px;
}

.hero-email input {
  border: none;
  width: 20vw;
  height: 5vh;
  outline: none;
}

.foot-end {
  display: flex;
  width: 70%;
  justify-content: left;
  margin-left: 2.7ch;
  font-weight: bolder;
}

.foot-icon {
  /* margin-top: 2%; */
  display: flex;
  width: 50%;
  justify-content: end;
  gap: 1ch;
  color: #000;
  transform: scale(1.3);
}

@media (max-width: 800px) {
  .parOfNav {
    top: -3vh;
    left: -7vh;
  }

  .hero-log {
    bottom: 27%;
    left: 40%;
  }
  .hero-log p {
    font-size: 14px;
  }
  .contaner-about {
    width: 100%;
    margin-left: 5%;
  }
  .about {
    height: 53vh;
    width: 33vw;
  }
}
/* @media (max-width: 400px){
  .infoo p{
    font-size: 12px;
  }
.parOfNav{
  font-size: 15px;
}
} */
