/* Slideshow */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}
.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.slide {
  display: inline-block;
  height: 90%;
  width: 100%;
  border-radius: 40px;
}
.slide img{
  width: 100%;
  height: 100%;
}
/* Buttons */
.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}
.slideshowDot.active {
  background-color: orange;
}
.contaner-about{
  display: flex;
  width: 80%;
  margin: auto;
  gap: 8%;
  margin-top:3% ;
}
.contaner-about p{
  max-width: 100%;
}
.footer{
  width: 100%;
    background-color: orange;
}
.foot-content{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
  margin: auto;
}
.foot-content h5{
  width: 50%;
}