.slideshow {
  margin: 0 auto;
  overflow: hidden;
 
}

.slideshowSlider {
  white-space: nowrap;
}

.slide {
  display: inline-block;
  height: 90%;
  width: 100%;
  border-radius: 40px;
  opacity: 0.7;
}

.slide img {
  width: 90%;
  height: 100%;
  position: relative;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: orange;
}

.contaner-about {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 8%;
  margin-top: 3%;
}

.contaner-about p {
  max-width: 100%;
}

.footer {
  width: 100%;
  background-color: orange;
}

.foot-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: flex-start;
  margin: auto;
}

.foot-content h5 {
  width: 50%;
}

.parOfNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 22%;
  right: 25%;
  bottom: 0%;
  left: -20%;
}

.nav-infoo {
  width: 30%;
}

.infoo {
  color: #fff;
  font-weight: bolder;
  display: flex;
  font-size: 30px;
  text-align: start;
}

.hero-log {
  position: absolute;
  left: 40%;
  bottom: 8%;
  color: #fff;
  border: 1px solid orange;
  width: 15%;
  border-radius: 7%;
}

.hero-log p {
  font-weight: bolder;
  font-size: 17px;
}

.hero-log:hover {
  background-color: orange;
}

.jebna-hero {
  color: orange;
}

.lak-hero {
  color: #000;
}

.foot-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.hero-email {
  margin-top: 4%;
  display: flex;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10%;
  align-items: center;
}

.hero-send {
  color: #fff;
  font-weight: bolder;
  background-color: orange;
  font-size: 25px;
}

.hero-email input {
  padding: 9%;
  border-radius: 9%;
  border: 1px solid orange;
}

.foot-end {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.foot-icon {
  margin-top: 2%;
}

@media (max-width: 800px) {
  .infoo p {
    font-size: 17px;
  }
  .parOfNav {
    top: -25%;
  }
  .hero-log {
    bottom: 27%;
    left: 40%;
  }
  .hero-log p {
    font-size: 14px;
  }
}
/* @media (max-width: 400px){
  .infoo p{
    font-size: 12px;
  }
.parOfNav{
  font-size: 15px;
}
} */
