.containerLogin {
    display: flex;
    flex-direction: row;
    gap: 5ch;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.divLogin {
    width: 25%;
    border: solid 0.1ch rgb(228, 226, 226);
}

.TitleLogin{
    font-size: x-large;
    font-family: cursive;
    font-weight: bold;
}

.paragLogin{
    font-family: system-ui;
    font-size: small;
}

.formLogin {
    display: flex;
    flex-direction: column;
    gap: 2ch;
    justify-content: center;
    align-items: center;
}

.inputLogin {
    border: none;
    border-bottom: 0.2ch solid;
    width: 80%;
    font-family: cursive;
}

.btnLogin {
    width: 80%;
    height: 5ch;
    background-color: orange;
    border: solid orange 0.3ch;
    color: white;
    font-size: larg;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 5ch;
}

.btnLogin:hover {
    background-color: white;
    color: orange;
    cursor: pointer;
}

.btnCreateAcc {
    height: 5ch;
    border: solid orange 0.3ch;
    background-color: white;
    color: orange;
    cursor: pointer;
    width: 100%;
    font-size: larg;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 2ch;
}

.btnCreateAcc:hover {
    background-color: whitesmoke;
}

.divLogin2 {
    width: 20%;
    margin-top: 2%;
}

.paraghraphQ {
    font-family: system-ui;
    font-weight: bold;
    padding-bottom: 0.5ch;

}

.paraghraphC {
    font-family: system-ui;
    color: orange;
    font-size: small;
    font-weight: bold;
    text-align: left;
}

.paraghraph {
    font-family: system-ui;
    font-size: small;
    text-align: left;
}