.cartt{
    color: #000;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    /* display: flex; */
}
.cart-detalis{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 2%;
    width: 80%;
    margin: auto;
      margin-top: 5%;
      margin-bottom: -8%;
}
.cart-cont{
    display: flex;
}
.cart-img{
    width: 100px;
}
.cart-info{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart-price{
    margin-top: -2%;
}
.cart-add{
    display: flex;
    width: 15%;
    justify-content: space-between;
    height: 15%;
    align-items: center;
    margin-top: 10%;
    border: 1px solid #eee;
}
.cart-desc{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.cart-dec{
    margin-left: 7%;
}
.cart-inc{
    margin-right: 7%;
}
.cart-item{
    width: 30%;
    height: 100%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}