.myCartTitle {
  font-size: larger;
  font-family: cursive;
  font-weight: bold;
}

.thCart th {
  border: none;
  border-bottom: 1px solid rgb(223, 193, 138);
  border-top: 1px solid rgb(223, 193, 138);
  border-right: 1px solid rgb(223, 193, 138);
  border-left: 1px solid rgb(223, 193, 138);
  width: 20ch;
  font-size: large;
  font-family: cursive;
  text-align: center;
}

.trCart td {
  border: none;
  border-bottom: 1px solid rgb(223, 193, 138);
  font-size: medium;
  font-family: cursive;
}

.divTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartImg {
  width: 150px;
  margin-top: 5%;
}
.max-min{
  cursor: pointer;
}