.AddContainer {
  height: 110vh;
  width: 40vw;
  position: relative;
  box-shadow: 0 0 10px black;
}

.addImg {
  height: 35%;
  width: 70%;
  margin-top: 4ch;
}

.addImgIcons {
  width: 4ch;
  height: 4ch;
  font-size: 2ch;
  margin: none;
}

.addImgIcons:hover {
  color: orangered;
  cursor: pointer;
}

.addName, .addprice, .adddescription, .adddescription {
  text-align: left;
  font-weight: bold;
}

.inputCloudinary {
  border: none;
  border-bottom: solid 0.1ch black;
  outline: none;
  width: 20vw;
}

.divInput {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5ch;
  justify-content: center;
  margin-top: 5ch;
}

.input {
  text-align: left;
}

.divChoose {
  margin-top: 2ch;
  margin-bottom: 4ch;
}

.typeFile {
  width: 32ch;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.addButton {
  height: 6ch;
  width: 70%;
  margin-top: 3ch;
  font-family: cursive;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  background-color: rgb(245, 246, 244);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  box-shadow: 0 0 10px black;
  margin-bottom: 2ch;
}

.addButton:hover {
  background-color: silver;
}
