.homeNavBar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  background-color: orange;
  border-radius: 2px;
  justify-content: space-between;
  margin-top: 6ch;
}

.box {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  width:22vw;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.box:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  position: absolute;
  pointer-events: none;
}

.box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 12px;
  padding: 0px 10px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
  border-radius: 2px;
  font-family: system-ui;
  outline: none;
}

.left {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 7%;
}

.left h3 {
  margin-right: 4%;
  color: white;
  font-family: cursive;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.cart {
  width: 30px;
  height: 30px;
  color: aliceblue;
  margin-right: 10%;
  cursor: pointer;
}

.pageContainer {
  width: 100%;
  margin-bottom: 5ch;
}

.sliderContainer {
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20ch;
  margin-bottom: 20ch;
}

.divProduct {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3ch;
  margin-bottom: 2ch;

}

.productsContainer {
  height: 50vh;
  width: 18vw;
  position: relative;
  box-shadow: 1px 1px 5px black;
  border-radius: 3%
}

.productImg {
  height: 60%;
  width: 80%;
  margin-top: 2ch;
}

.iconsContainer {
  position: relative;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #f5fbfd;
  opacity: 0;
}

.containerCartIcoon {
  align-self: center;
}

.iconsContainer:hover {
  opacity: 0.5;
}

.add {
  width: 30px;
  height: 30px;
  color: black;
  opacity: 1;
  cursor: pointer;
}

.cartIcoon {
  width: 30px;
  height: 30px;
  color: black;
  cursor: pointer;
}


.productName {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  font-family: cursive;
  margin-top: 1ch;
}

.price {
  margin-left: 30px;
  font-family: cursive;
  color: orangered;
}

.description {
  text-align: left;
  font-size: 1rem;
  font-family: cursive;
  text-align: center;
}

.divDescription {
  display: flex;
  flex-direction: column;
}

.leftArrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(202, 187, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}

.leftArrow:hover {
  transition: 1.5s ease;
}

.rightArrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(202, 187, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}
.nav-icon{
  display: flex;
  gap: 10px;
  margin-right: 5%;
}
.right-left{
  display: flex;
  align-items: center;
}
.hartNav{
  transform: scale(1.8);
  color: #fff;
  cursor: pointer;
}
.cart-f2 {
  transform: scale(1.8);
  color: red;
  margin-top: 14px;
  cursor: pointer;
}