*{
    font-family: monospace;
}
.homeNavBar{
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: orangered;
}
.box {
    position: relative;
    /*Don't really need this just for demo styling*/
    
    float: left;
    width: 10vw;
    
  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .box:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }
  
  .box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 20px;
    /* Add some styling */
    
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }
  
.left{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left h3{
    margin-right: 4%;
    color: white;
}

.mid{
    flex:1;
    align-self: center;
}
.logo {
    
    color:white;
   
}
.logo h1 {
    justify-self: center;
    align-self: center;
}

.right{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.cart{
    width: 30px;
    height: 30px;
    color: aliceblue;
    margin-right: 20px;
    cursor: pointer;
}
.pageComtainer{
    
    transform: translateX(0vw);
}
.sliderContainer{
    height:80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
   
    

}

.productsContainer{
    height: 70%;
    position: relative;
}

.iconsContainer{
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;
    background-color: #f5fbfd;
    opacity: 0;
    
    
}
.containerCartIcoon{
    align-self: center;
}

.iconsContainer:hover{
    opacity: 0.5;
}
.add{
    width: 30px;
    height: 30px;
    color: black;
    opacity: 1;
    cursor: pointer;
}
.cartIcoon{
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
    

}
.productImg{
    height: 80%;
    width:80%;
}
.productName{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
   
}
.price{
    margin-left:30px;
    font-weight: 500;
}
.description{
    text-align: left;
    font-size: 1rem;
    margin-left: 20px;
}

.leftArrow{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgb(202, 187, 187);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
}

.leftArrow:hover{
transition: 1.5s ease;
}
.rightArrow{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(202, 187, 187);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
}

.black{
    color: #000;
}
.green{
    color: #5fc091;
}