.divOrderPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3.2ch;
  margin-right: 3.2ch;
  box-shadow: 0 0 10px silver;
  margin-top: 6.5%;
}

.OrderPage {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 1ch;
  margin-top: 2ch;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
}

.orderIcon {
  font-size: 5ch;
  margin-left: 2ch;
  margin-right: 0.5ch;
  margin-top: 0.3ch;
}

.underLineO {
  height: 3ch;
  border: solid 1px white;
  box-shadow: 0 0 20px silver;
  margin-left: 3.2ch;
  margin-right: 3.2ch;
}

.order-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px silver;
  position: relative;
  margin-right: 6ch;
  font-family: system-ui;
  padding-bottom: 10ch;
  align-items: center;
  left: 3ch;
  right: 3ch;
}

.order-table table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  width: 90%;
  margin-top: 5ch;
}

.order-table table td,
th {
  text-align: center;
  padding: 4px;
  height: 8vh;
}

.order-table table tr:nth-child(even) {
  background-color: #dddddd;
}

.thOrder {
  border: none;
  border: 1px solid silver;
  width: 18ch;
  font-size: large;
  font-family: cursive;
  text-align: center;
  border-radius: 5px;
}

.tdOrder {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  border: 1px solid silver;
  border-radius: 5px;
}