.order-table{
    display: flex;
    background-color: rgb(245, 245, 245);
    margin: 4ch;
    justify-content: center;
    align-items: center;
    position: relative;
}
.order-table table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.order-table table td, th{
    text-align: center;
    padding: 4px;
    height: 8vh;
}
.order-table table tr:nth-child(even) {
    background-color: #dddddd;
}