.delete-fav{
    color: red;
    transform: scale(1.3);
    margin: auto;
    width: 80%;
    cursor: pointer;
}
.fav{
    display: flex;
    flex-flow: wrap;
    margin-top: 4%;
    margin-left: 10%;
}
.msFr{
    font-family: cursive;
}
.divFav{
    display: flex;
    flex-direction: column;
}
@media (max-width: 800px) {
    .fav{
        margin-top: 8%;
    }
    .proFav{
        height: 70vh;
        width: 30vw;
    }
    .favUser{
        grid-template-columns: auto auto;
    }
}