.usersTable{
    display: flex;
    background-color: rgb(245, 245, 245);
    margin: 4ch;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.usersTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .usersTable table td, th {
    
    text-align: left;
    padding: 8px;
  }
  .usersTable table .userImg{
      height: 4ch;
      width: 4ch;
      border-radius: 50%;
      margin-left: 5%;
  }
  
  .usersTable table tr:nth-child(even) {
    background-color: #dddddd;
  }