.adminPageContainer{
    height: 80vh;
    margin-top: 4ch;
}
.adminPageWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.pageContainer{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sideBar{
    flex: 1;

}

.adminDashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5vh;

}
.midPage{
    flex:2.5;

}

.leftPage{
    flex:1.5;
}