
.divContainer {
  width: 80vw;
  height: 70vh;
  display: flex;
}
.user-cont {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 22%;
  border-right: 1px solid orange;
  font-family: cursive;
}
.userImg {
  width: 35%;
}
.fl:hover {
  color: orange;
  cursor: pointer;
}
.history:hover {
  color: orange;
  cursor: pointer;
}
.favorate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5%;
  margin-top: -5%;
}
.hist-cont {
  width: 90%;
}
.hist {
  border: 1px solid gray;
}
.divHistory {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  margin-left: 10%;
}
.histTable {
  width: 100%;
}
.tdHistory td {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.3em;
  border: 1px solid silver;
  border-radius: 5px;
}
.history-mass {
  font-size: medium;
  font-family: cursive;
}
.favorate p {
  margin-top: 20%;
}

.history {
  margin-top: 20%;
}
