.containerRegister {
    display: flex;
    flex-direction: row;
    gap: 5ch;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.divRegister {
    width: 30%;
    border: solid 0.1ch rgb(228, 226, 226);
}

.TitleRegister {
    font-size: x-large;
    font-family: cursive;
    font-weight: bold;
}

.paragRegister {
    font-family: system-ui;
    font-size: small;
}

.formRegister {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    justify-content: center;
    align-items: center;
}

.inputRegister {
    border: none;
    border-bottom: 0.2ch solid;
    width: 80%;
    font-family: cursive;
}

.btnRegister {
    width: 80%;
    height: 5ch;
    background-color: orange;
    border: solid orange 0.3ch;
    color: white;
    font-size: larg;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 3ch;
    margin-top: 3ch;
}

.btnRegister:hover {
    background-color: white;
    color: orange;
    cursor: pointer;
    transition: 0.8s;
}

.divRegister2 {
    width: 20%;
}

.btnLog_in {
    height: 4ch;
    border: solid orange 0.2ch;
    background-color: white;
    color: orange;
    cursor: pointer;
    width: 100%;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 2ch;
}

.btnLog_in:hover {
    background-color: whitesmoke;
    transition: 0.5s;
}

.paraghraphQ {
    font-family: system-ui;
    font-weight: bold;
    padding-bottom: 0.5ch;

}

.paraghraphC {
    font-family: system-ui;
    color: orange;
    font-size: small;
    font-weight: bold;
    text-align: left;
}

.paraghraph {
    font-family: system-ui;
    font-size: small;
    text-align: left;
}

.ErrorMessageRegister {
    margin-bottom: 2ch;
    font-family: system-ui;
    color: rgb(168, 4, 4);
    font-weight: bold;
    font-size: small;
}

.SuccessMessageRegister {
    margin-bottom: 2ch;
    font-family: system-ui;
    color: rgb(197, 129, 2);
    font-weight: bold;
    font-size: small;
}