.divNavigation {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jebnalak {
  font-family: cursive;
  color: orange;
  font-size: 6ch;
}

.jebnalak2 {
  font-family: cursive;
  font-size: 6ch;
}

.divJebnalak {
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-top: -3ch;
}

.jebna {
  font-family: cursive;
  color: orange;
  margin-left: 2ch;
}

.divLink {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  margin-right: 5vw;
  margin-top: -1ch;
  font-size: 2.3ch;
}

.divProfile {
  display: flex;
  flex-direction: row;
}

.divProfile:hover {
  cursor: pointer;
}

#imgProfile {
  font-size: 3.2ch;
  margin-top: 1.5ch;
}

.divProfile:hover {
  color: orange;
}

.name {
  margin-left: 0.5ch;
  font-family: cursive;
  font-weight: bold;
  margin-top: 4ch;
}

.name:hover {
  color: orange;
}

.Link {
  margin-top: 4ch;
  /* margin-right: 2ch; */
  font-family: cursive;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.Link:hover {
  color: orange;
}

.dash {
  font-size: 2ch;
}

.logout {
  font-family: cursive;
  font-weight: bold;
  font-size: 2ch;
  margin-top: 4ch;
  margin-left: 0.5ch;
}

.logout:hover {
  color: orange;
  cursor: pointer;
}

#logoutIcon {
  margin-top: 2ch;
  font-size: 2.5ch;
}

.divLogout:hover {
  color: orange;
  cursor: pointer;
}

.divLogout {
  display: flex;
  flex-direction: row;
}
